- 请在你用户目录下面的 bullet-trade/.env 文件里面配置数据源，然后重启“bullet-trade lab”服务
- 比如编辑 c:\Users\[我的用户名]\bullet-trade\.env   或者  MacOS/Linux ~\bullet-trade\.env

```code
# 数据源类型 (jqdata, tushare, qmt)
DEFAULT_DATA_PROVIDER=qmt
```

In [1]:
from jqdata import *
get_price('000001.XSHG',frequency='1d',end_date='2025-04-04',count=10)

C:\Users\brucelee\.conda\envs\bullettrade\Lib\site-packages\xtquant\__init__.py:8: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  from pkg_resources import get_distribution

xtquant文档地址：http://dict.thinktrader.net/nativeApi/start_now.html
***** xtdata连接成功 2025-11-23 17:26:28*****
服务信息: {'tag': 'sp3', 'version': '1.0'}
服务地址: 127.0.0.1:58610
数据路径: C:\国金QMT交易端模拟\bin.x64/../userdata_mini/datadir
设置xtdata.enable_hello = False可隐藏此消息

,time,open,high,low,close,volume,money,settelementPrice,openInterest,preClose,suspendFlag
2025-03-21,1742486400000,3401.760,3414.710,3355.840,3364.831,520862630,6.231640e+11,0.0,0,3408.949,0
2025-03-24,1742745600000,3364.834,3373.693,3340.238,3370.028,513310260,5.867455e+11,0.0,0,3364.830,0
2025-03-25,1742832000000,3370.001,3379.988,3361.046,3369.976,456357393,5.164357e+11,0.0,0,3370.028,0
2025-03-26,1742918400000,3365.666,3382.343,3365.666,3368.698,428533770,4.851856e+11,0.0,0,3369.977,0
2025-03-27,1743004800000,3362.712,3394.035,3351.174,3373.749,414776314,4.964571e+11,0.0,0,3368.697,0
2025-03-28,1743091200000,3372.039,3375.053,3346.081,3351.307,412284289,4.688076e+11,0.0,0,3373.749,0
2025-03-31,1743350400000,3343.344,3361.741,3317.738,3335.746,472571978,5.314758e+11,0.0,0,3351.307,0
2025-04-01,1743436800000,3340.712,3357.622,3338.779,3348.435,422588670,4.994157e+11,0.0,0,3335.746,0
2025-04-02,1743523200000,3344.172,3361.134,3343.116,3350.127,350127364,4.116660e+11,0.0,0,3348.436,0
2025-04-03,1743609600000,3319.606,3358.426,3319.606,3342.008,400517827,4.865104e+11,0.0,0,3350.127,0

In [2]:
get_all_securities()

            display_name    name start_date end_date   type   qmt_code
600051.XSHG         宁波联合  600051        NaT      NaT  stock  600051.SH
605090.XSHG         九丰能源  605090 2021-05-25      NaT  stock  605090.SH
600025.XSHG         华能水电  600025 2017-12-15      NaT  stock  600025.SH
601222.XSHG         林洋能源  601222 2011-08-08      NaT  stock  601222.SH
688031.XSHG       星环科技-U  688031 2022-10-18      NaT  stock  688031.SH
...                  ...     ...        ...      ...    ...        ...
002998.XSHE         优彩资源  002998 2020-09-25      NaT  stock  002998.SZ
300205.XSHE        *ST天喻  300205 2011-04-21      NaT  stock  300205.SZ
002046.XSHE         国机精工  002046 2005-05-26      NaT  stock  002046.SZ
000151.XSHE         中成股份  000151 2000-09-06      NaT  stock  000151.SZ
300271.XSHE         华宇软件  300271 2011-10-26      NaT  stock  300271.SZ

[5168 rows x 6 columns]